/* stile.css */

body {
    max-width : 1920px;
    background-image : url("images/Sfondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    background-color : white;
    position : sticky;
    height : auto;
    top : 0;
    width : 100%;
    margin : 0;
    padding : 0;
}
header img {
    max-width : 12%;
}
section {
    float : left;
    background-color : white;
    border : #401A00 solid 1px;
    width : 50%;
    margin : 0 0 20px 1%;
    padding : 1%;
}
section .buyoptions {
    float : right;
    border : hidden;
    width : 30%;
}

.carrello{
    width: 30%;
    background-color: #E65C00;
    color: #401A00;
    font-weight: bold;
    height: auto;
    margin-left: 35%;
}

.carrello:hover{
    background-color: #FF6700;
    color: #803300;;
}

section img {
    float: left;
    max-width : 40%;
    border-radius : 5px;
    margin : 3%;
    height : auto;
}

section p{
    float: right;
    display: inline;
}

aside {
    float : right;
    text-align : center;
    border : #401A00 solid 1px;
    background-color : white;
    width : 30%;
    margin : 1px 1% 20px 1%;
    padding : 0;
}
footer {
    clear : both;
    position : relative;
    bottom : 0;
    background-color : white;
    border : #401A00 solid 1px;
    border-top : 5px ridge #FF6700;
    width : 100%;
    margin : 0;
    padding : 0;
}
@media screen and (max-width: 1000px) {
    aside {
        width : 25%;
    }
}
@media screen and (max-width: 540px) {
    aside {
        display : none;
    }
    section {
        width : 100%;
        clear : both;
    }
    section .buyoptions {
        width : 100%;
        margin-top : 1%;
        margin-bottom : 10%;
    }
}