/* stile.css */

body {
    max-width : 1920px;
    background-image : url("images/Sfondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
header {
    position : sticky;
    height : auto;
    top : 0;
    width : 100%;
    margin : 0;
    padding : 0;
}

a:link,:visited{
    text-decoration: none;
    color: black;
}

a:active{
    color: #E65C00;
}

img#logo {
    width: 25%;

}

.titolo{
    text-align: center;
}

section {
    clear: left;
    float : left;
    background-color : white;
    border : #401A00 solid 1px;
    width : 60%;
    margin : 0 0 20px 1%;
    padding : 1%;
}

section .buyoptions {
    float : right;
    border : hidden;
    width : 30%;
}

.carrello{
    width: 30%;
    background-color: #E65C00;
    color: #401A00;
    font-weight: bold;
    height: auto;
    margin-left: 35%;
}

.carrello:hover{
    background-color: #FF6700;
    color: #803300;;
}

section img {
    float: left;
    max-width : 40%;
    border-radius : 5px;
    margin : 2%;
    height : auto;
    display: inline-block;
}

section p{
    float: right;
    height : auto;
    display: inline-block;
}

aside {
    float : right;
    text-align : center;
    border : #401A00 solid 1px;
    background-color : white;
    width : 30%;
    margin : 1px 1% 20px 1%;
    padding : 0;
}
footer {
    clear : both;
    position : fixed;
    bottom : 0;
    left: 0;
    background-color : white;
    border : #401A00 solid 1px;
    border-top : 5px ridge #FF6700;
    width : 100%;
    margin : 0;
    padding : 0;
}

footer p{
    text-align: center;
}

/* MENU DI NAVIGAZIONE */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #E65C00;
}

li {

    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #FF6700;
}


#login{
    display: none;
}

ul li


/*FINE MENU NAVIGAZIONE*/

@media screen and (max-width: 1000px) {
    aside {
        width : 25%;
    }
}
@media screen and (max-width: 540px) {
    aside {
        display : none;
    }
    section {
        width : 100%;
        clear : both;
    }
    section .buyoptions {
        width : 100%;
        margin-top : 1%;
        margin-bottom : 10%;
    }

    li a {
        font-size: medium;
    }

    #login{
        display: block;
    }
}